body{
    background:white;
}
.navbar{
    width: 75%;
    margin: auto;	
}
.img-fluid{
    width: 75%;
    display: block;
    margin:auto;
    padding-bottom: 5%;
}
#secondcontainer{
    padding-bottom: 5%;
}
#porfolio{
    padding-bottom: 5%;
}
#contac{
    width: 75%;
    display: block;
    margin:auto;
}
#btn{
    margin-bottom: 5%;
}
